<!DOCTYPE html>
<html lang="pt" class="not-auth">
<head>
  @section('head')
    @include('partials.template.head')
  @endsection
</head>
<body>
  @!section('content')
  @!section('before-end')

  @include('partials.template.scripts')
</body>
</html>
