<!DOCTYPE html>
<html lang="pt" class="not-auth error">
<head>
  @section('head')
    @include('partials.template.head')
  @endsection

  <style>
    html.error body {
      background-color: #ef3333;
      color: #fff;
      padding: 1.5rem;
    }

    .error-body {
      margin-top: 15vh;
      max-width: 800px;
    }

    .error-body .error-emoticon {
      font-size: 5rem;
      font-weight: 300;
    }

    .error-body .error-title {
      font-size: 35px;
      font-weight: 400;
      margin-top: .75rem;
      margin-bottom: 2.5rem;
    }

    .error-body .error-desc {
      font-size: 18px;
    }

    .error-body .error-button {
      font-weight: 500;
      color: #de2727 !important;
    }
  </style>
</head>
<body>
  <div class="container error-body">
    @!section('content')
  </div>
</body>
</html>
