<div class="main-footer-inner bg-dark text-white">
  <div class="container py-4">
    <div class="linklist mb-2">
      <a href="#">Sobre</a> &middot; 
      <a href="#">F.A.Q</a> &middot; 
      <a href="#">Minha Conta</a>
    </div>
    <div class="attribute">
      Copyright &copy; {{ moment().format('YYYY') }} — MODCP <br />
      <i class="fa fa-code"></i> com <i class="fa fa-heart"></i> por Luiz
    </div>
  </div>
</div>
